footer {
    .footer {
        width: 100%;
        background-color: $Color2;
        display: grid;
        justify-content:space-around;

        &__grupo1 {
            width: 100%;
            max-width: 1200px;
            margin:auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 40px 0px;

            &-box {
                h1 {
                    color: $Color1;
                    font-size: 15px;
                    font-family: $MangoBold;
                    margin-bottom: 10px; 
                }
                h3 {
                    color: rgb(32, 32, 32);
                    font-size: 12px;
                    font-family: $MonoMedium;
                    letter-spacing: 0px;
                    margin-bottom: 18px
                }
            }
        }
    }
}
    
        