main {
    .suscribite {
        h3 {
            font-family: $MangoBold;
            font-size: 18px;
            color: $Color1;
            margin-bottom: 10px;
        }
       
        p {
            font-family: $MonoBold;
            font-size: 14px;
            color: $Color3;
            letter-spacing: -1;
        }
    }
 
    .suscribite2 {
     a {
         background-color: $Color1;
         transition: .5s, .5s;
        }
     :hover {
         background-color: $Color2;
         transform:scale(1.1);
        }
    }
 
    .suscribite1 {
     input {
         background-color: $Color2;
        }
 
     a {
         background-color: $Color1;
         transition: .5s,.5s;
         &:hover {
             background-color: $Color2;
             transform:scale(1.1);
            }
        }
    }
 
    .contacto2 {
     
        h2 {
         font-family: $MangoBold;
         font-size: 18px;
         color: $Color1;
         margin-bottom: 10px;
        }
     
        h4 {
         font-family: $MonoBold;
         font-size: 14px;
         color: $Color3;
         letter-spacing: -1;
        }
    }
 }
 
 
 
 