main {

    .titulocarrito {
        color: $Color1;
        margin-bottom: 20px;
        font-family: MangoBold;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }

    .tabla {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        margin: auto;
        ul {
            display: flex;
            flex-direction: column;
        }
        
        li {
            list-style-type: none;
            font-family: $MonoMedium;
            font-size: 15px;
            margin-bottom: 10px;
            margin-left: 70px;
        }
    
    }
    
    .formcarrito{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }
    .titulo{
        color: $Color1;
        font-family: $MangoLight;
        font-size: 20px;
        text-align: center;
    }
    .pedido {
        color: $Color3;
        font-family: $MonoMedium;
        font-size: 10px;
    }
    .carrito{
        margin-left: 130px;
        margin-top: 20px;
    
    }
    
    .formulario {
        &__envio {
            color: $Color3;
            font-family: $MangoLight;
            font-size: 12px;
            margin-bottom: 10px;
        }
        &__cliente {
            color: $Color3;
            font-family: $MangoLight;
            font-size: 12px;
            margin-bottom: 10px;

            &-boton1 {
                display: block;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 70px;
                font-family: $MonoMedium;
                font-size: 13px;
                transition: .5s, .5s;
                background-color: $Color1;
                text-decoration: none;
                text-align: center;
                border-radius: 10px;
                padding: 7px;
                color: $Color3

            }
        
        }
    }
}

